.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

form input,
form select,
form button {
  margin: 10px 0;
  padding: 8px;
  width: 300px;
}

form button {
  width: auto;
}

h2 {
  margin-top: 20px;
}
